<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel angency</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head>

<body>
    <div class="main w-full h-screen bg-[url('https://livedemo00.template-help.com/wt_51676/images/breadcrumbs-bg.jpg')] bg-cover bg-no-repeat bg-center brightness-53">

    <div class=" navbar  w-full py-10 flex">
        <h1 class="uppercase  text-[25px]  font-extrabold text-white relative left-6">Trevel</h1>
        <nav class="flex justify-end mr-[5%]  w-full gap-10 text-[20px] font-semibold text-white ">
        <a class="hover:text-orange-400  transition-all delay-150" href="/">HOME</a>
        <a class="hover:text-orange-400 transition-all delay-150" href="/about">ABOUT US</a>
        <a class="text-orange-400 transition-all delay-150" href="/contacts">CONTACTS</a>
        <a class="hover:text-orange-400 transition-all delay-150" href="/typography">TYPOGRAPHY</a>
    </nav>
    </div>
    <div class="container p-[1px] h-[40%]   mt-28"><h1 class="text-center text-[31px] text-white font-thin mt-10">Get in Touch with Us</h1>
        <div class="container h-[40%]  flex justify-center mt-15 ">
            <div class=" container w-20 h-8  mt-9">
            <div class="h-1 w-[69%] bg-yellow-400 mt-3"></div>
            <div class="h-1 w-[69%] bg-green-400 mt-2"></div>
        </div>
            <div class="w-50 ">
            <h2 class=" text-center  text-white text-[70px] uppercase">Contact US</h2>
        </div>
        <div class=" container w-20 h-8  ml-5 mt-9">
            <div class="h-1 w-[69%] bg-yellow-400 mt-3"></div>
            <div class="h-1 w-[69%] bg-green-400 mt-2"></div>
        </div>
        </div>
</div>
        <div class="w-[15%] h-[10%]  ml-[40%] flex gap-7 text-xl text-white">
            <a href="/home">Home <i class="ri-arrow-right-line"></i></a>
            <a href="/contacts">Contacts</a>

        </div>
    </div>

    <div class="h-[100vh] w-[100%] bg-green-400">
        <div class="contact h-[50vh] w-[100%] bg-white gap-7 flex items-center justify-center">
            <div class="h-[35vh] min-w-[20%] bg-white border-black-300 border-solid border-e-2">
                <div class="location h-[20vh] w-[70%] m-auto"><i class=" text-3xl  text-indigo-900 ml-[38%] ri-map-pin-fill"></i>
                <h1 class="text-center font-normal text-2xl mt-4">ADDRESS</h1>
                </div>
                <h2 class="text-center mt-4 text-[15px] font-normal text-gray-700">Bhith,Begusarai,Bihar(851112)<br>India</h2>
            </div>
            <div class="h-[35vh] min-w-[20%] bg-white border-black-300 border-solid border-e-2">
                <div class="location h-[20vh] w-[70%]  m-auto"><i class=" text-3xl  text-indigo-900 ml-[38%] ri-phone-fill"></i>
                    <h1 class="text-center font-normal text-2xl mt-4">PHONES</h1>
                    </div>
                    <h2 class="text-center mt-4 text-[15px] font-normal text-gray-700">+91-7808426662</h2>
            </div>
            <div class="h-[35vh] min-w-[20%] bg-white border-black-300 border-solid border-e-2">
                <div class="location h-[20vh] w-[70%]  m-auto"><i class=" text-3xl text-indigo-900 ml-[38%] ri-mail-fill"></i>
                    <h1 class="text-center font-normal text-2xl mt-4">E-MAIL</h1>
                    </div>
                    <h2 class="text-center mt-4 text-[15px] font-normal text-gray-700">dinkardiwakar0@gmail.com</h2>
            </div>
            <div class="h-[35vh] min-w-[20%]  border-black-300 border-solid border-e-2">
                <div class="location h-[20vh] w-[100%]  "><i class=" text-3xl text-indigo-900 ml-[40%] ri-open-source-line"></i>
                    <h1 class="text-center font-normal text-2xl mt-4">OPENING HOURS</h1>
                    </div>
                    <h2 class="text-center mt-4 text-[15px] font-normal text-gray-700">Mon-Fri: 9:00 am-6:00 pm</h2>
                       <h3 class="text-center mt-2 text-[15px] font-normal text-gray-700"> Sat-Sun: 11:00 am-4:00 pm</h3>
            </div>
        </div>
    </div>
</body>

</html>